<!DOCTYPE html>
<html  lang="en">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
   
    <script src="app.js"></script>
    
    <title>Red Panda MatchDay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script><link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="./src/css/style.css">
</head>
  <body ng-app='RedPandasPlayers'>
	
    <div class="container" ng-controller='PlayerController as pp'  >
		
		<br/>
    <h3 align="center"  class="display-3">All Players</h3>
      <br/>
		<div class="input-group">
		  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
		  	<input class="form-control bg-light text-dark" type="text" placeholder= "Please Search Here" ng-model="pp.search" width="80%"/>
		  </div>
		 
      <table width="80%" class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Name </th>
                <th scope="col"> Rate </th>
                <th scope="col"> Position </th>
                <th scope="col"> checked </th>
            </tr>
          </thead>
    
          <tr ng-repeat="x in pp.players | filter : pp.search">
              <td>{{x.name}}</td>
              <td>{{x.strength}}</td>
              <td>{{x.pose}}</td>
              <td><input id="{{x.name}}" type="checkbox" value="{{x}}" ng-checked="selection.indexOf(x) > -1" ng-click="pp.toggleSelection(x)"></td>
          </tr>
        </table>    

        
        <!--table width="80%" class="table table-striped table-hover">
          <thead class="thead-dark">
              <tr>
                  <th scope="col"> Name </th>
                  <th scope="col"> Rate </th>
                  <th scope="col"> Position </th>
              </tr>
            </thead>
      
            <tr ng-repeat="y in pp.matchPlayer">
                <td>{{y.name}}</td>
                <td>{{y.strength}}</td>
                <td>{{y.pose}}</td>
            </tr>
          </table!-->    
          <ol class="bg-info">
            <h3 align="center"  class="display-3">Match Players</h3>
            <li ng-repeat="y in pp.matchPlayer">
              <td>{{y.name}}</td>
            </li>
          </ol>
      <!--input type="button" class="btn btn-primary btn-lg btn-block" value="Ganerate Teams" ng-click="pp.ganerate()"/!-->
      <input type="button" class="btn btn-info btn-lg btn-block" value="Ganerate Teams by position" ng-click="pp.newGanerate()"/>
      
      <div class="row">
        <div class="column">
          <h4 ng-if="pp.redTeam.length > 0">Team Strgenth = {{pp.redTeamStrength}}</h4>
              <ol  style="text-align: center; background-color: #d1d1d1;">
                <h3 class="bg-default" align="center"  class="display-3">White Team</h3>
                <li ng-repeat="y in pp.redTeam">
                  {{y.name}}  {{y.pose}}
                </li>
              </ol> 
            </div>
        <div class="column">
          <h4 ng-if="pp.blueTeam.length > 0">Team Strgenth = {{pp.blueTeamStrength}}</h4>
          
          <ol class="text-light bg-dark" style="text-align: center; background-color: #000; color: #FFF;">
            <h3 class="darken" align="center" class="display-3">Black Team</h3>
            <li ng-repeat="y in pp.blueTeam">
              {{y.name}}  {{y.pose}}
            </li>
          </ol>
         
          </div>
      </div>
          
        
    </div>
  </div>

  
  </body>
</html>
